*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,Helvetica,sans-serif;
    background:#f5f6fa;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height:100vh;
}

fieldset{
    width:700px;
    background:white;
    padding:30px;
    border-radius:10px;
    border:2px solid #ddd;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.top-bar{
    display:flex;
    justify-content:right;
    margin-bottom:20px;
    color:#666;
}

h1{
    text-align:center;
}

.being{
    color:black;
}

.infinity{
    color:#2563eb;
}

.description{
    text-align:center;
    margin:20px 0;
    color:#666;
}

.search-box{
    display:flex;
    align-items:center;
    border:2px solid #ddd;
    border-radius:8px;
    padding:10px;
}

.icon{
    margin-right:10px;
    font-size:20px;
}

#search{
    width:100%;
    border:none;
    outline:none;
    font-size:18px;
}

#suggestions-box{
    margin-top:10px;
}

.suggestion{
    padding:12px;
    border-bottom:1px solid #ddd;
    cursor:pointer;
}

.suggestion:hover{
    background:#f1f1f1;
}

.footer{
    margin-top:20px;
    color:#666;
}